<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Joining Tables</title>
</head>
<body>
    <center>
        <h1>Displaying data from both the tables [Dept,Emp]</h1>
        <table border="2px solid balck">
            <tr>
                <th>empno</th>
                <th>empname</th>
                <th>job</th>
                <th>mgr</th>
                <th>hiredate</th>
                <th>sal</th>
                <th>comm</th>
                <th>deptno</th>
                <th>dname</th>
                <th>dloc</th>
            </tr>
            {% for emp in EMPOBJ %}
            <tr>
                <td>{{emp.empno}}</td>
                <td>{{emp.ename}}</td>
                <td>{{emp.job}}</td>
                <td>{{emp.mgr.empno}}</td>
                <td>{{emp.hiredate}}</td>
                <td>{{emp.sal}}</td>
                <td>{{emp.comm}}</td>
                <td>{{emp.deptno.deptno}}</td>
                <td>{{emp.deptno.dname}}</td>
                <td>{{emp.deptno.dloc}}</td>
            </tr>
            {% endfor %}
        </table>
    </center>
</body>
</html>